
*.cache
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.csprojAssemblyReference.cache
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.dll
*.v2
.vs/FlightSimulator/v16/.suo
FlightSimulator/obj/x64/Release/netcoreapp3.1/FileLoader.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/LineChart_view.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MediaPlayer.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator_MarkupCompile.i.lref
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.dll
.vs/FlightSimulator/v16/.suo
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Release/netcoreapp3.1/showDirection.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/showDirection.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAltitude.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAltitude.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAirspeed.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAirspeed.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/LineChart_view.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator_MarkupCompile.lref
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.g.resources
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.csproj.FileListAbsolute.txt
FlightSimulator/obj/x64/Release/netcoreapp3.1/DataViewer.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/DataViewer.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/DataViewer.baml
FlightSimulator/FlightSimulator.csproj.user
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.dll
.vs/FlightSimulator/v16/.suo
.vs/FlightSimulator/DesignTimeBuild/.dtbcache.v2
.vs/FlightSimulator/v16/.suo
*.v2
FlightSimulator/obj/Debug/netcoreapp3.1/MediaPlayer.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/JoyStick_view.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.AssemblyInfo.cs
FlightSimulator/obj/Debug/netcoreapp3.1/FileLoader.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/DataViewer.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/App.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlightSimulator/obj/project.assets.json
FlightSimulator/obj/FlightSimulator.csproj.nuget.g.targets
FlightSimulator/obj/FlightSimulator.csproj.nuget.g.props
FlightSimulator/obj/FlightSimulator.csproj.nuget.dgspec.json
FlightSimulator/obj/Debug/netcoreapp3.1/LineChart_view.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator_MarkupCompile.i.lref
FlightSimulator/obj/Debug/netcoreapp3.1/MediaPlayer.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/MediaPlayer.baml
FlightSimulator/obj/Debug/netcoreapp3.1/MainWindow.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/MainWindow.baml
FlightSimulator/obj/Debug/netcoreapp3.1/LineChart_view.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/LineChart_view.baml
FlightSimulator/obj/Debug/netcoreapp3.1/JoyStick_view.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/JoyStick_view.baml
FlightSimulator/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator_MarkupCompile.lref
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.g.resources
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.csproj.FileListAbsolute.txt
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.csproj.CopyComplete
FlightSimulator/obj/Debug/netcoreapp3.1/FileLoader.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/FileLoader.baml
FlightSimulator/obj/Debug/netcoreapp3.1/DataViewer.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/DataViewer.baml
FlightSimulator/obj/Debug/netcoreapp3.1/apphost.exe
FlightSimulator/obj/Debug/netcoreapp3.1/App.g.cs
FlightSimulator/FlightSimulator.csproj
FlightSimulator/bin/Debug/netcoreapp3.1/paths.txt
FlightSimulator/bin/Debug/netcoreapp3.1/NCalc.dll
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.exe
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.deps.json
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.exe
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.runtimeconfig.dev.json
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.runtimeconfig.json
FlightSimulator/bin/Debug/netcoreapp3.1/OxyPlot.dll
FlightSimulator/bin/Debug/netcoreapp3.1/OxyPlot.Wpf.dll
FlightSimulator/bin/x64/debug.txt
FlightSimulator/bin/x64/Release/netcoreapp3.1/debug.txt
FlightSimulator/bin/x64/Release/netcoreapp3.1/filename.txt
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.deps.json
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.exe
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.runtimeconfig.dev.json
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.runtimeconfig.json
FlightSimulator/bin/x64/Release/netcoreapp3.1/OxyPlot.dll
FlightSimulator/bin/x64/Release/netcoreapp3.1/OxyPlot.Wpf.dll
FlightSimulator/bin/x64/Release/netcoreapp3.1/paths.txt
FlightSimulator/bin/x86/Debug/netcoreapp3.1/FlightSimulator.deps.json
FlightSimulator/bin/x86/Debug/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/x86/Debug/netcoreapp3.1/FlightSimulator.exe
FlightSimulator/bin/x86/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/x86/Debug/netcoreapp3.1/FlightSimulator.runtimeconfig.dev.json
FlightSimulator/bin/x86/Debug/netcoreapp3.1/FlightSimulator.runtimeconfig.json
FlightSimulator/bin/x86/Release/netcoreapp3.1/FlightSimulator.deps.json
FlightSimulator/bin/x86/Release/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/x86/Release/netcoreapp3.1/FlightSimulator.exe
FlightSimulator/bin/x86/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/x86/Release/netcoreapp3.1/FlightSimulator.runtimeconfig.dev.json
FlightSimulator/bin/x86/Release/netcoreapp3.1/FlightSimulator.runtimeconfig.json
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.designer.deps.json
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.designer.runtimeconfig.json
FlightSimulator/obj/Debug/netcoreapp3.1/AnomalyUC.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/AnomalyUC.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/AnomalyUC.baml
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.exe
.vs/FlightSimulator/DesignTimeBuild/.dtbcache
.vs/FlightSimulator/v16/Server/sqlite3/db.lock
.vs/FlightSimulator/v16/Server/sqlite3/storage.ide
FlightSimulator/bin/x64/Debug/netcoreapp3.1/FlightSimulator.deps.json
FlightSimulator/bin/x64/Debug/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/x64/Debug/netcoreapp3.1/FlightSimulator.exe
FlightSimulator/bin/x64/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/x64/Debug/netcoreapp3.1/FlightSimulator.runtimeconfig.dev.json
FlightSimulator/bin/x64/Debug/netcoreapp3.1/FlightSimulator.runtimeconfig.json
FlightSimulator/bin/x64/Debug/netcoreapp3.1/paths.txt
FlightSimulator/obj/x64/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyGraphWindow.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyGraphWindow.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyGraphWindow.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyUC.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyUC.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyUC.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/App.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/App.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/apphost.exe
FlightSimulator/obj/x64/Debug/netcoreapp3.1/DataViewer.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/DataViewer.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/DataViewer.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FileLoader.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FileLoader.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FileLoader.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.AssemblyInfo.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.csproj.CopyComplete
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.csproj.FileListAbsolute.txt
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.designer.deps.json
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.designer.runtimeconfig.json
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.g.resources
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator_MarkupCompile.i.lref
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FlightSimulator_MarkupCompile.lref
FlightSimulator/obj/x64/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/JoyStick_view.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/JoyStick_view.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/JoyStick_view.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/LineChart_view.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/LineChart_view.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/LineChart_view.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MainWindow.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MainWindow.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MainWindow.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MediaPlayer.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MediaPlayer.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MediaPlayer.baml
FlightSimulator/obj/Debug/netcoreapp3.1/AnomalyGraphWindow.g.i.cs
FlightSimulator/obj/Debug/netcoreapp3.1/AnomalyGraphWindow.g.cs
FlightSimulator/obj/Debug/netcoreapp3.1/AnomalyGraphWindow.baml
FlightSimulator/bin/Debug/netcoreapp3.1/AnomalyDetectionLib.dll
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MediaController/MediaPlayer.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MediaController/MediaPlayer.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/MediaController/MediaPlayer.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/JoyStick/JoyStick_view.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/JoyStick/JoyStick_view.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/JoyStick/JoyStick_view.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FileHandler/FileLoader.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FileHandler/FileLoader.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/FileHandler/FileLoader.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyDetection/AnomalyGraphWindow.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyDetection/AnomalyGraphWindow.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyDetection/AnomalyGraphWindow.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyDetection/AnomalyUC.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyDetection/AnomalyUC.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/AnomalyDetection/AnomalyUC.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Charts/LineChart_view.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Charts/LineChart_view.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Charts/LineChart_view.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Datahandler/DataViewer.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Datahandler/DataViewer.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Datahandler/DataViewer.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/PFDView.g.i.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/PFDView.g.cs
FlightSimulator/obj/x64/Debug/netcoreapp3.1/PFDView.baml
FlightSimulator/obj/x64/Debug/netcoreapp3.1/Datahandler/PFDView.g.i.cs
